/* CSS By Aaron Bell*/


/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


/* CSS Reset */
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}


/* Root Variables */
:root{
--midnight-blue: #1F2A44;
--olive-green: #76885B;
--champagne-gold: #E5C185;
--linen: #F8F4EC;
--dark-charcoal: #2B2B2B;
--soft-white: #FAF9F6;
}


/* Global Styles */
Body{
background-color: #1F2A44;
font-family: Playfair Display;
}

h1{
  color: #F8F4EC;
  text-align: center;

}
h2{
color: #1F2A44;
}

.head-p{
  color: #FAF9F6;
  text-align: center;
  font-family: Playfair Display;
}

.main-logo{
 display: block;
 margin: 0 auto;
 height: 10rem;;
  padding-right: 1rem; 
  color: #F8F4EC;
  height: 20rem; 

}

.nav-bar{
  background-color: #E5C185;
  text-align: center;
  color: var(--midnight-blue);
}

.nav-container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 3rem;
  color: #1F2A44;
  font-weight: bold;
  
}
.nav-bar ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.nav-bar li{
  margin: 0.5rem 0;

}




.white-bg{
  font-family: Playfair Display;
   background-color:var(--soft-white);
  text-align: left;
  margin: 0;
  padding: 0;
}


hr:nth-of-type(1){
border-bottom: 3px solid var(--champagne-gold);
margin-top: 15px;
 background-color:var(--soft-white);
 margin: 0;
  padding: 0;
  margin-top: 2rem;
  width: 100%;
  border-top: 5px;

  
}

.offerings{
  padding-top: 20px;

}

.green-banner{
display: grid;
  grid-template-columns:1fr 1fr;
  gap: 2rem;
  justify-content: center;
  
  
  



}




.green-rect{
  background-color: #76885B;
  color: #FAF9F6;
  border-radius: 8px;
  padding: 1rem;
  align-content: center;
  margin-left: 2rem;
  margin-right:  -500px
  
 
}
 /* grid */
.o-card{
display: grid;
grid-template-columns: 3fr 3fr;
gap: -5rem;
}

.card-1{
background-color: var(--olive-green);
width: 500px;
height: 150px;
padding: 1rem;
color: white;
border-radius: 8px;
margin: 2rem auto;

}


.gallery-selection{
  max-width: 1200px;
  margin: 1.2rem auto 0 auto;
  padding: 0 2rem;
  text-align: left;
}

.gallery-grid{
display: grid;
grid-template-columns: 1fr;
gap: 1.5rem;
margin-top: 2rem;
}

.gallery-p{
  background-color: #F8F4EC;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
}

.gallery-item img{
  width: 100%;
  height: auto;
  
}
.caption{


}
.gallery-button{
  margin-top: 1rem;
}

.gallery-button a {
  width: 100%;
  text-align: center;
}
.view-gallery{
  background-color: var(--olive-green);
  color: white;
  border-radius: 6px;
  font-weight: bold;
  display: inline-block;

}
.footer{
  background-color: var(--midnight-blue);
  color: white;
  text-align: center;
  margin-top: 1.5rem;
}

.footer a{
  color: #E5C185;
  
}







